/* CSS Document */
* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	color: #9e9e9e;
}

body{
	background-color: #000;
	font-size: 13px;
	line-height: 28px;

	
}
button {
	cursor: pointer;	
}


section.seckcja-top { 
	background: url("../assets/grafika-top-1.jpg") no-repeat center/cover;
	position: relative;
	height: 1080px;
}

div.contener {
	max-width: 1170px;
/*	height: 100vh;*/
	margin: 0 auto;
	padding: 0 20px;
}

h1 {
	font-size: 60px;
	width: 600px;
	line-height: 55px;
}

h2 {
	font-size: 38px;
	width: 600px;
	line-height: 55px;
	margin: 20px 0;
}
.head-top {
	display: flex;
	justify-content:space-between;
	margin-top: 5px;
	argin-top: 5px;
    padding: 10px 0;
}

.article-top {
	position: absolute;
	top: 800px;
	
}

.article-sektion-one {
	display: flex;
	justify-content: space-between;
	margin: 50px 0 50px 0;
}
	
.text-column {
    padding: 0 10px 0 10px;
	width: 80%;
}
.video-palyer {
	width: 400px;
	height: 500px;
}
	
	

.seckcja-two {
	background: url("../assets/tlo-pin1.jpg") no-repeat center/cover;
	height: 862px;
/*	margin-top: -280px;*/
}

.seckcja-three {
	background: url("../assets/tlo-anima-car.jpg") no-repeat top center/contain;
	min-height: 890px;
}
.seckcja-three .contener {
	height: 100%;
}
.foto-box {
	margin-top: -150px;
 
	margin-right: 50px;
	width: 400px;
}
.article-seckcja-three {
	display: flex;
	justify-content: space-between;
}

.text-column-mini {
	margin-top: 200px;
	width: 450px;
}

/* sterowanie animacją */

.buttons {
	display: flex;
    margin: 20px auto 0 auto;
	width: 100px; 
	align-items: center;
	justify-content: space-between;
}
.btn-color {
	width: 20px;
	height: 20px;
	border: 1px #ffffff solid;
	border-radius: 25px;
	margin: 5px;
	
}
.btn-color:hover {
	transform: scale(1.3);
	transition: 0.5s ease-in-out;
}

.btn-color.red-color {
	background-color: red;
}

.btn-color.red-blue {
	background-color: blue;
}
.btn-color.red-dark {
	background-color: black;
}

/*Animacja */
.wrapper {
	overflow: hidden;
	position: relative;
	min-height: 300px;
	margin-top: 30px;
}
.cars {
	position: absolute;
	left: 0px;
    top: calc(50% - 40px);
	animation: carMove 10s linear infinite;
}
.circle-1,
.circle-2
{
	position: absolute;
	animation: animationCircle 2s linear infinite;

}

.circle-1 {
    left: 71px;
    top: 93px;
}

.circle-2 {
    left: 426px;
    top: 93px;
}

@keyframes animationCircle {
	
	0%
	{
		transform: rotate(360deg);
	}
	100%
	{
		transform: rotate(0deg);	}
	
}

@keyframes carMove {
	
	0%
	{
		transform: translate( 2000px);
	}
	100%
	{
		transform: translate( -1000px);
	}
	
}


/* Slideshow container */
.slideshow-container {
  max-width: 1170px;
  top: 50px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -52px;
  padding: 40px 20px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(16,82,181,0.8);
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  
}

.prev:hover, .next:hover {
  background-color: rgba(16,82,181,1 );
}

.numbertext {
  color: #000;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* przenikanie img animacja*/

.fade {

  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  0%  {opacity: .4}
  100% {opacity: 1}
}

/* pin */


.contener-pin {
	max-width: 1170px;
	height: 100vh;
	margin: 0 auto;
	padding: 0 20px;
	position: relative;
}

.pin {
	position: absolute;
	top: 350px;
	left: 210px;
	background: url("../assets/pin.svg") no-repeat;
	width: 40px;
	height: 40px;
	border: none;
	cursor: pointer;
}

.pin:nth-child(1) {

	top: 450px;
	left: 750px;
	
}
.pin:nth-child(2) {


	top: 650px;
	left: 790px;
	
}

.pin:nth-child(3) {

	top: 550px;
	left: 590px;
	
}

.pin:hover {
	box-shadow: 0 15px 40px rgba(37, 114, 229, 0.8);
	border-radius: 25px;
	background: url("../assets/pin-on.svg") rgba(37, 114, 229, 0.5);
	width: 50px;
	height: 50px;
	transition: 0.5s ease-out;
}

.pin:empty {

	transition: 0.5s ease-out;
}


/* pin hover - pop up */

.tooltip {
    display:inline-block;
    text-align:left;    
}

.tooltip h3 {margin:12px 0;}

.tooltip .bottom {
    min-width:300px;
    top:40px;
    left:50%;
    transform:translate(-50%, 0);
    padding:20px;
    background-color:#000;
    font-weight:normal;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:999;
    box-sizing:border-box;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
    display:none;
}

.tooltip:hover .bottom {
    display:block;
}

.tooltip .bottom img {
    width:400px;
}

.tooltip .bottom i {
    position:absolute;
    bottom:100%;
    left:50%;
    margin-left:-12px;
    width:24px;
    height:12px;
    overflow:hidden;
}

.tooltip .bottom i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:50%;
    transform:translate(-50%,50%) rotate(45deg);
    background-color:#000;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
}


/* ############## page 2 style #################### */

section.seckcja-top-page2 { 
	background: url("../assets/bg-top2.jpg") no-repeat center/cover;
	position: relative;
	height: 850px;
}


.article-top-page2 {
	position: absolute;
	top: 500px;
}

/* ------------SEKCJA 1 page 2 --------------- */

.seckcja-one-page2 {

	position: relative;
	width: auto;
	height: 1080px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
    background: linear-gradient(180deg, rgba(0,0,0,1) 47%, rgba(255,255,255,1) 47%, rgba(255,255,255,1) 100%); 
	z-index: -1;
}
.video-container-page2 {
	position: absolute;
    width: 100%;
	z-index: -2;
}
.seckcja-one-page2 img{
    width: 350px;
}

.article-sektion-one-page2 {
	display: flex;
	justify-content: space-between;
	margin: 100px 0 100px 0;
}

.text-column.foto-right {
    text-align: right;
}

.rysunek-techniczny img {
	text-align: center;
	width: 100%;
}




