@media only screen and (max-width: 560px){
	
	
	
	section.seckcja-top {
		background: url("../assets/bg-top-mobile.jpg") no-repeat top/cover;
		height: 650px;
	}
	
	.contener {
		max-width: 560px;
	}
	
	article.article-top {
    top: 500px;
    }
	
	h1 {
    font-size: 35px;
    max-width: 330px;
    }
	
	.text-column {
    width: 100%;
    padding: 0;
    }
	
	article.article-sektion-one {
    flex-flow: column;
   }
	
	.seckcja-two {
     visibility: hidden;
   }
	
	section.seckcja-three {
    margin-top: -550px;
    }
	
	article.article-seckcja-three {
    flex-flow: column;
   }
	
	img.foto-box {
    margin-top: -80px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
   }
	section.seckcja-three {
    background: url(../assets/tlo-anima-car.jpg);
    background-size: cover;
    background-position-x: center;
   }
	iframe {
    height: 300px;
   }
}

	
