@charset "utf-8";

/* CSS Document */


video {
    width: 100%;
}


/* --------------------sekcja top -------------------------------- */

section.seckcja-top-page2 { 
	background: url("../assets/bg-top2.jpg") no-repeat center/cover;
	position: relative;
}

.head-top-page2 {
	display: flex;
	justify-content:space-between;
	margin-top: 5px;
}
.article-top-page2 {
	position: absolute;
	top: 500px;
}

/* ------------SEKCJA 1 page 2 --------------- */

.seckcja-one-page2 {
/*    background: url("../assets/tlo-sekcja-2-pege-2.png") no-repeat center/cover ;*/
	position: relative;
	width: auto;
	height: 1080px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 47%, rgba(255,255,255,1) 47%, rgba(255,255,255,1) 100%); 
}
.video-container-page2 {
	position: absolute;
    width: 100%;
}
.seckcja-one-page2 img{
    width: 350px;
}
.article-sektion-one-page2 {
	display: flex;
	justify-content: space-between;
	margin: 50px 0 50px 0;
}
.seckcja-two-page2 {
	background: #fff;
	height: 500px;
}

.seckcja-three-page2 {
	background: url("../assets/tlo-skrzynia.jpg") no-repeat center/cover;
	width: 100%;
	height: 100vh;	
}
.article-three-page2 {
	height: 100vh;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.seckcja-four-page2 {
	margin-top: 50px;
}
.article-four {
	margin-top: 30px;
}

/* style page 2 */
