@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
/* CSS Document */
* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	
	color: white;
}
body{
	background-color: #000;
	font-size: 13px;
	line-height: 28px;
}
section.seckcja-top { 
	background: url("../assets/grafika-top-1.jpg") no-repeat center/cover;
	position: relative;
}
div.contener {
	width: 1170px;
	height: 100vh;
	margin: 0 auto;
}

h1 {
	font-size: 60px;
	width: 600px;
	line-height: 55px;
}

h2 {
	font-size: 38px;
	width: 600px;
	line-height: 55px;
	margin: 20px 0;
}
.head-top {
	display: flex;
	justify-content:space-between;
	margin-top: 5px;
}

.article-top {
	position: absolute;
	top: 730px;
}

.article-sektion-one {
	display: flex;
	justify-content: space-between;
	margin: 50px 0 50px 0;
}
	
.text-column {
    padding: 0 10px 0 10px;
	width: 80%;
}
.video-palyer {
	width: 400px;
	height: 500px;
}
	
	

.seckcja-two {
	background: url("../assets/tlo-pin1.jpg") no-repeat center/cover;
	height: 862px;
	margin-top: -430px;
}

.seckcja-tree {
	background: url("../assets/tlo-anima-car.jpg") no-repeat center/cover;
	height: 1080px;

}

.foto-box {
	margin-top: -150px;
    margin-left: 90px;
	margin-right: 90px;
	width: 400px;
}
.article-seckcja-tree {
	display: flex;
	justify-content: space-between;
}

.text-column-mini {
	margin-top: 200px;
	width: 450px;
}

/* sterowanie animacją */

.buttons {
	margin: 0 auto;
	width: 150px;
	top: 20px;
}
.btn-color {
	width: 20px;
	height: 20px;
	border: 1px withe solid;
	border-radius: 25px;
	margin: 5px;
}
.btn-color:hover {
	width: 35px;
	height: 35px;
	transition: 0.5s ease-in-out;
}

.btn-color.red-color {
	background-color: red;
}

.btn-color.red-blue {
	background-color: blue;
}
.btn-color.red-dark {
	background-color: black;
}

/*Animacja */

.cars {
	position: relative;
	left: 0px;
	top: -250px;
	animation: carMove 10s linear infinite;
}
.circle-1,
.circle-2
{
	position: absolute;
	animation: animationCircle 2s linear infinite;

}

.circle-1 {
    left: 71px;
    top: 93px;
}

.circle-2 {
    left: 426px;
    top: 93px;
}

@keyframes animationCircle {
	
	0%
	{
		transform: rotate(360deg);
	}
	100%
	{
		transform: rotate(0deg);
	}
	
}

@keyframes carMove {
	
	0%
	{
		transform: translate( 2000px);
	}
	100%
	{
		transform: translate( -1000px);
	}
	
}



